<div>
  <%= form_with model: post, local:true do |f| %>
    <%= render 'layouts/error_messages', resource: post %>
    <div>
      <%= f.label :dish, "料理名" %></br>
      <%= f.text_field :dish, style: "width:100%" %>
    </div>
    <div class="mt-1">
      <%= f.label :image, "写真" %></br>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div class="mt-1">
      <%= f.label :genre_id, "ジャンル" %></br>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "ジャンルを選択して下さい" %>
    </div>
    <div class="mt-1">
      <%= f.label :impression, "感想・一言コメント" %></br>
      <%= f.text_area :impression, style: "width:100%" %>
    </div>
  
    <h4 class="mt-3">店舗情報</h4>
    <p>以下わからない場合は「不明」と記載ください。</p>
    <div>
      <%= f.label :restaurant_name, "店名" %></br>
      <%= f.text_field :restaurant_name, style: "width:100%" %>
    </div>
    <div class="mt-1">
      <%= f.label :menu, "メニュー名" %></br>
      <%= f.text_field :menu, style: "width:100%" %>
    </div>
    <div class="mt-1">
      <%= f.label :address, "住所" %></br>
      <%= f.text_field :address, style: "width:100%" %>
    </div>
    <div class="mb-3">
      <%= f.submit class: 'btn btn-light mt-3' %>
    </div>
  <% end %>
</div>