<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-12">
      <% if user_signed_in? %>
        <% if @model == 'user' %>
          <h4>ユーザー　"<%= @content %>"検索結果<%= @records.count %>件</h3>
          <%= render 'public/users/index', users: @records %>
        <% elsif @model == 'post' %>
            <h4>投稿　"<%= @content %>"検索結果<%= @records.count %>件</h3>
          <%= render 'public/posts/index', posts: @records %>
        <% end %>

      <% elsif admin_signed_in? %>
        <% if @model == 'user' %>
          <h4>ユーザー　"<%= @content %>"検索結果<%= @records.count %>件</h3>
          <%= render 'admin/users/index', users: @records %>
        <% elsif @model == 'post' %>
            <h4>投稿　"<%= @content %>"検索結果<%= @records.count %>件</h3>
          <%= render 'admin/posts/index', posts: @records %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>