<% if post.user == current_user %>
  <%= post.favorites.count %>
  <br><span class="text-secondary">食べたい</span>
<% else %>
  <% if post.favorited_by?(current_user) %>
    <%= link_to post_favorite_path(post), method: :delete, remote: true, class: "text-danger" do %>
      ♥<%= post.favorites.count %>
      <br><span>食べたい</span>
    <% end %>
  <% else %>
    <%= link_to post_favorite_path(post), method: :post, remote: true, class: "text-info" do %>
      ♡<%= post.favorites.count %>
      <br><span>食べたい</span>
    <% end %>
  <% end %>
<% end %>