<table class= "table table-borderless mt-1">
  <thead class="thead-light">
    <tr>
      <th style="width: 5%">ID</th>
      <th style="width: 5%"></th>
      <th style="width: 20%">料理</th>
      <th style="width: 40%">感想</th>
      <th style="width: 5%"></th>
      <th style="width: 15%">投稿者</th>
      <th style="width: 5%"><i class="fa-regular fa-comment-dots"></i></th>
      <th style="width: 5%"><i class="fa-solid fa-heart"></i></th>
    </tr>
  </thead>
  <% posts.each do |post| %>
    <tbody>
      <tr>
        <td><%= post.id %></td>
        <td>
          <% if post.image.attached? %>
            <%= image_tag post.image, size: "40x30" %>
          <% else %>
            <%= image_tag 'no_image.jpg', size: "40x30" %>
          <% end %>
        </td>
        <td><%= link_to post.dish, admin_post_path(post) %></td>
        <td><%= post.impression.truncate(64) %></td>
        <td>
          <% if post.user.image.attached? %>
            <%= image_tag post.user.image, size: "30x30" %>
          <% else %>
            <%= image_tag 'user_no_image.jpg', size: "30x30" %>
          <% end %>
        </td>
        <td><%= link_to post.user.name, admin_user_path(post.user_id) %></td>
        <td><%= render 'public/comments/counter', post: post %></td>
        <td><%= post.favorites.count %></td>
      </tr>
    </tbody>
  <% end %>
</table>