
<nav class="navbar navbar-expand", style="background-color: #842042;">
  <div class="container">
    <div class="row">
      <div class="header-content d-flex">
        <%= link_to 'ごちそう', (admin_signed_in? ? admin_top_path : root_path ), class:"navbar-brand text-white" %>
        <ul class="navbar-nav">
          <% if admin_signed_in? %>
            <li class="nav-item"><%= link_to '投稿一覧',  admin_posts_path, class: 'nav-link text-white' %></li>
            <li class="nav-item"><%= link_to '会員一覧',  admin_users_path, class: 'nav-link text-white' %></li>
            <li class="nav-item"><%= link_to 'ジャンル一覧',  admin_genres_path, class: 'nav-link text-white' %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-white' %></li>
          <% elsif user_signed_in? %>
            <li class="nav-item"><%= link_to 'マイページ', mypage_path, class: 'nav-link text-white' %></li>
            <li class="nav-item"><%= link_to '新規投稿', new_post_path, class: 'nav-link text-white' %></li>
            <li class="nav-item"><%= link_to '投稿一覧', posts_path, class: 'nav-link text-white' %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-white' %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'サイトについて', about_path, class: 'nav-link text-white' %></li>
            <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-white' %></li>
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-white' %></li>
          <% end %>
        </ul>
        <div>
          search box
        </div>
      </div>
    </div>
  </div>
</nav>
